In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in data 
student_mat = pd.read_csv("../data/raw_data/student/student-mat.csv", sep = ";", header=0)
student_por = pd.read_csv("../data/raw_data/student/student-por.csv", sep = ";", header=0)

In [3]:
# merge data
student_merge = pd.merge(student_mat, student_por, on = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"])

# print out merged data
student_merge.head(10)

# check type of columns
student_merge.dtypes

# subset data to exclude duplicated columns
student_df = student_merge.iloc[:,0:33]

# change column name
student_df.columns = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

In [4]:
# clean data
## binary variables

### school
school = {'GP': 0, 'MS': 1}
student_df['school'].replace(school, inplace = True)

### sex 
sex = {'M': 0, 'F': 1}
student_df['sex'].replace(sex, inplace = True)

### address
address = {'R': 0, 'U': 1}
student_df['address'].replace(address, inplace = True)

### famsize
famsize = {'LE3': 0, 'GT3': 1}
student_df['famsize'].replace(famsize, inplace = True)

### Pstatus
Pstatus = {'A': 0, 'T': 1}
student_df['Pstatus'].replace(Pstatus, inplace = True)

### schoolsup
schoolsup = {'no': 0, 'yes': 1}
student_df['schoolsup'].replace(schoolsup, inplace = True)

### famsup
famsup = {'no': 0, 'yes': 1}
student_df['famsup'].replace(famsup, inplace = True)

### paid
paid = {'no': 0, 'yes': 1}
student_df['paid'].replace(paid, inplace = True)

### activities
activities = {'no': 0, 'yes': 1}
student_df['activities'].replace(activities, inplace = True)

### nursery
nursery = {'no': 0, 'yes': 1}
student_df['nursery'].replace(nursery, inplace = True)

### higher
higher = {'no': 0, 'yes': 1}
student_df['higher'].replace(higher, inplace = True)

### internet
internet = {'no': 0, 'yes': 1}
student_df['internet'].replace(internet, inplace = True)

### romantic
romantic = {'no': 0, 'yes': 1}
student_df['romantic'].replace(romantic, inplace = True)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,1,18,1,1,0,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,0,1,17,1,1,1,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,0,1,15,1,0,1,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,0,1,15,1,1,1,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,0,1,16,1,1,1,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [8]:
# output cleaned data
student_df.to_csv("../data/cleaned_data/cleaned.csv")